* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding-top: 56px;
}

.admin-slidebar{
    position: fixed;
    top: 56px;
    height: 100%;
    width: 200px;
}

.logo{
    max-height: 40px;
}